.ext-preside-countdown-title {
    font-size: clamp(1rem, 50vw, 4rem); 
    padding: 1rem;
}

.ext-preside-countdown-unit, .ext-preside-countdown-value {
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
    padding: 1rem;
}

#countdownInvert {
    margin-top: 0px !important;
}